container_commands:
  01_makemigrations:
    command: "source /var/app/venv/*/bin/activate && python manage.py /var/app/current/makemigrations --noinput"
    leader_only: true
  02_migrate:
    command: "source /var/app/venv/*/bin/activate && python /var/app/current/manage.py migrate --noinput"
    leader_only: true
  03_superuser:
    command: "source /var/app/venv/*/bin/activate && python /var/app/current/manage.py createsu"
    leader_only: true

option_settings:
  aws:elasticbeanstalk:application:environment: 
    DJANGO_SETTINGS_MODULE: "core.settings"
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
    "ALLOWED_HOSTS": ".elasticbeanstalk.com"
  aws:elasticbeanstalk:container:python:
    WSGIPath: core.wsgi:application