packages:
    yum:
        postgresql-devel: []

commands:
    01_postgres_activate:
        command: "sudo amazon-linux-extras enable postgresql10"
    02_postgres_install:
        command: "sudo yum install -y postgresql-devel"

container_commands:
    01_sh_executable:
        command: find .platform/hooks/ -type f -iname "*.sh" -exec chmod +x {} \;

option_settings:
    aws:elasticbeanstalk:application:environment: 
        DJANGO_SETTINGS_MODULE: "swe1app.settings"
        PYTHONPATH: "/var/app/current/swe1app:$PYTHONPATH"
    aws:elasticbeanstalk:container:python:
        WSGIPath: "swe1app.wsgi:application"
